{% extends 'base.html' %}
{% load widget_tweaks %}

{% block "title" %}Sign Up - {{ block.super }}{%endblock%}

{% block "sign_in_up" %}{% endblock %}

{% block "content" %}
<div class="d-flex flex-column flex-fill align-items-stretch flex-shrink-0 bg-white">
    <div class="d-flex justify-content-between align-items-center flex-shrink-0
                p-3 link-dark text-decoration-none border-bottom">
        <h2 class="fs-5 fw-semibold">Sign Up</h2>
    </div>

    <form action="." method="post" class="p-3">
        {% csrf_token %}

        {% for error in form.non_field_errors %}
            {{ errors }}
        {% endfor %}

        {% with WIDGET_ERROR_CLASS='is-invalid' %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {% render_field field class+="form-control" %}
                    <div class="form-text">{{ field.help_text }}</div>
                    {% for error in field.errors %}
                        <div class="invalid-feedback">{{ error }}</div>
                    {% endfor %}
                </div>
            {% endfor %}
        {% endwith %}
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
</div>
{% endblock %}
