{% extends 'base.html' %}
{% load widget_tweaks %}

{% block "title" %}Create Short URI - {{ block.super }}{%endblock%}

{% block "content" %}
<div class="d-flex flex-column flex-fill align-items-stretch flex-shrink-0 bg-white">
    <div class="d-flex justify-content-between align-items-center flex-shrink-0
                p-3 link-dark text-decoration-none border-bottom">
        <h2 class="fs-5 fw-semibold">Create Short URI</h2>
    </div>

    <form action="." method="post" class="p-3">
        {% csrf_token %}

        {% for error in form.non_field_errors %}
            {{ errors }}
        {% endfor %}

        {% with WIDGET_ERROR_CLASS='is-invalid' %}
            <div class="mb-3">
                <label for="{{ form.full_uri.id_for_label }}" class="form-label">Full URI</label>
                {% render_field form.full_uri class+="form-control" %}
                <div class="form-text">{{ form.full_uri.help_text }}</div>
                {% for error in form.full_uri.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
            <div class="mb-3">
                <label for="{{ form.description.id_for_label }}" class="form-label">Description</label>
                {% render_field form.description class+="form-control" %}
                <div class="form-text">{{ form.description.help_text }}</div>
                {% for error in form.description.errors %}
                    <div class="invalid-feedback">{{ error }}</div>
                {% endfor %}
            </div>
        {% endwith %}
        <button type="submit" class="btn btn-outline-success">Submit</button>
    </form>
</div>
{% endblock %}
